<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
    <header>
        <h1>🧅 DARK.ONION SLOP ☣️</h1>
        <p>Acessando protocolos de culinária experimental via rede oculta...</p>
    </header>

    <nav>
        <a href="/">[ INÍCIO ]</a>
        <a href="/relatorio">[ RELATÓRIO DE HABILIDADES ]</a>
        <a href="/auth/login" class="btn-restrito">⚠️ ÁREA RESTRITA</a>
    </nav>

    <main>
        {{{body}}}
    </main>

</body>

</html>